.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.ct-div-block,
			.oxy-post-content,
			.ct-text-block,
			.ct-headline,
			.oxy-rich-text,
			.ct-link-text { max-width: 100%; }
			img { flex-shrink: 0; }
			body * { min-height: 1px; }
		}            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
alignment: center;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        .oxy-pro-menu {
menu_dropdown_animation:fade-up;
}
.oxy-pro-menu .oxy-pro-menu-list .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-list > .menu-item{
margin-top:px;
margin-left:px;
margin-right:px;
margin-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
margin-top:px;
margin-left:px;
margin-right:px;
margin-bottom:px;
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container > div:first-child, .oxy-pro-menu .oxy-pro-menu-open-container > div:first-child{
oxy-pro-menu_slug_oxypromenuoffcanvascontaineroxypromenulistmenuitemoxypromenuopencontaineroxypromenulistmenuitem_min_width:px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container{
oxy-pro-menu_slug_oxypromenuoffcanvascontainer_width:px;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-color:;
background-image:url();
overlay-color:;
background-size:;
background-repeat:;
background-attachment:;
background-blend-mode:;
background-size-width:px;
background-size-height:px;
background-position:px px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1120px;
}
body {font-family: 'Open Sans';}body {line-height: 1.6;font-size: 16px;font-weight: 400;color: ;}.oxy-nav-menu-hamburger-line {background-color: ;}h1, h2, h3, h4, h5, h6 {font-family: 'Comfortaa';line-height: ;}h2, h3, h4, h5, h6{line-height: ;}h3, h4, h5, h6{line-height: ;}h4, h5, h6{line-height: ;}h5, h6{line-height: ;}h6{line-height: ;}.ct-section-inner-wrap {
padding-top: 75px;
padding-right: 20px;
padding-bottom: 75px;
padding-left: 20px;
}.ct-new-columns > .ct-div-block {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}.oxy-header-container {
padding-right: 20px;
padding-left: 20px;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.saas-heading-one {
 font-family:'Comfortaa';
 color:#313856;
 font-size:72px;
 font-weight:700;
 line-height:1.1;
}
@media (max-width: 767px) {
.saas-heading-one {
 font-size:64px;
}
}

@media (max-width: 479px) {
.saas-heading-one {
 font-size:48px;
}
}

.saas-body-text {
 font-family:'Open Sans';
 color:#8188a6;
 font-size:16px;
 font-weight:300;
 line-height:1.6;
 max-width:640px;
}
.saas-other-single-content {
}
.oxy-stock-content-styles {
 color:#8188a6;
 font-size:18px;
}
.saas-comments-list {
}
.saas-logo:hover{
transform:scale(1.05,1.05); opacity:1;
}
.saas-logo {
 padding-top:10px;
 padding-bottom:10px;
 opacity:0.7;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
}
@media (max-width: 1120px) {
.saas-logo {
}
}

.saas-heading-two {
 font-family:'Comfortaa';
 color:#ffffff;
 font-size:48px;
 line-height:1.1;
 font-weight:700;
 margin-bottom:0px;
}
@media (max-width: 479px) {
.saas-heading-two {
 font-size:40px;
}
}

.saas-contact-wrapper {
 margin-bottom:12px;
 text-align:left;
}
.saas-contact-wrapper:not(.ct-section),
.saas-contact-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:flex-start;
justify-content:flex-start;
}
@media (max-width: 991px) {
.saas-contact-wrapper {
 text-align:left;
}
.saas-contact-wrapper:not(.ct-section),
.saas-contact-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
flex-wrap:nowrap;
align-items:flex-start;
justify-content:flex-start;
}
}

.saas-contact-icon {
color: #48c2fb;}.saas-contact-icon 
>svg {width: 18px;height: 18px;}.saas-contact-icon {
 margin-right:12px;
 margin-top:5px;
}
.saas-contact-icon:not(.ct-section),
.saas-contact-icon.ct-section .ct-section-inner-wrap{
flex-direction:unset;
}
.saas-contact-link:hover{
 text-decoration:underline;
}
.saas-contact-link {
 font-family:'Open Sans';
 color:#f64e6e;
 text-decoration:none;
 font-size:18px;
 font-weight:400;
 line-height:1.6;
}
.saas-contact-link:not(.ct-section),
.saas-contact-link.ct-section .ct-section-inner-wrap{
flex-direction:unset;
}
.saas-primary-button:hover{
transform:scale(1.05,1.05); background-color:#f64e6e;
 box-shadow:0px 20px 40px rgba(0,0,0,0.1);
}
.saas-primary-button {
 font-family:'Open Sans';
 background-color:#f64e6e;
 color:#ffffff;
 font-size:16px;
 letter-spacing:1px;
 line-height:1.1;
 text-decoration:none;
 font-weight:700;
 text-align:center;
 padding-top:16px;
 padding-bottom:16px;
 padding-left:48px;
 padding-right:48px;
 border-radius:100px;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
 text-transform:uppercase;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; border-top-style:none;
 border-right-style:none;
 border-bottom-style:none;
 border-left-style:none;
background-image: linear-gradient(-90deg, #f64e6e 0%, #ff795e 98%);
}
.saas-cases-wrapper {
 width:100%;
 background-color:#ffffff;
 border-radius:6px;
 padding-left:24px;
 padding-right:24px;
 padding-top:30px;
 padding-bottom:30px;
 height:100%;
 box-shadow:0px 20px 40px 0px box-shadow: rgba(0,0,0,0.05);
}
.saas-cases-image {
 margin-bottom:12px;
}
.saas-cases-text {
 line-height:1.6;
 font-style:italic;
 font-size:14px;
 color:#313856;
 text-align:left;
 font-weight:400;
 margin-bottom:24px;
}
.saas-cases-stars {
 width:120px;
 margin-bottom:24px;
 margin-top:auto;
}
.saas-cases-author-wrapper {
 width:100%;
 text-align:left;
}
.saas-cases-author-wrapper:not(.ct-section),
.saas-cases-author-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
justify-content:flex-start;
}
.saas-cases-avatar {
 width:48px;
 border-radius:100%;
 margin-right:12px;
}
.saas-cases-name {
 font-family:'Comfortaa';
 color:#313856;
 font-size:14px;
 font-weight:700;
 line-height:1.1;
 text-align:left;
}
.saas-divider {
 width:30px;
 background-color:#48c2fb;
 min-width:30px;
 max-width:30px;
 height:5px;
 min-height:5px;
 max-height:5px;
 border-radius:100px;
}
.saas-about-column {
 text-align:center;
}
.saas-about-column:not(.ct-section),
.saas-about-column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
}
.saas-about-icon {
background-color: transparent;
border: 1px solid transparent;
padding: 36px;color: #ffffff;}.saas-about-icon 
>svg {width: 42px;height: 42px;}.saas-about-icon {
background-image:url(http://saas2.oxy.host/wp-content/uploads/sites/8/2017/10/Group@2x.png);background-size: contain; icon-padding:36px;
 margin-bottom:12px;
}
.saas-about-icon-title {
 font-family:'Comfortaa';
 color:#313856;
 font-size:18px;
 font-weight:700;
 line-height:1.1;
}
.saas-about-bullet-wrapper {
 width:100%;
}
.saas-about-bullet-wrapper:not(.ct-section),
.saas-about-bullet-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
}
.saas-about-bullet {
 font-family:'Open Sans';
 color:#48c2fb;
 font-size:18px;
 font-weight:700;
 line-height:1.5;
 margin-right:8px;
}
.saas-about-history-paragraph {
 font-family:'Open Sans';
 font-size:18px;
 color:#8188a6;
 font-weight:400;
 text-align:left;
 line-height:1.6;
 margin-bottom:24px;
 width:100%;
}
.saas-about-history-paragraph:not(.ct-section),
.saas-about-history-paragraph.ct-section .ct-section-inner-wrap{
display:inline-flex;
flex-direction:unset;
}
.saas-pricing-wrapper {
 width:100%;
 padding-top:30px;
 padding-left:30px;
 padding-right:30px;
 padding-bottom:36px;
 background-color:#ffffff;
 border-radius:6px;
 text-align:center;
 height:100%;
 box-shadow:0px 20px 40px 0px box-shadow: rgba(0,0,0,0.05);
}
.saas-pricing-wrapper:not(.ct-section),
.saas-pricing-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
}
.saas-pricing-icon {
color: #48c2fb;}.saas-pricing-icon 
>svg {width: 42px;height: 42px;}.saas-pricing-icon {
 margin-bottom:12px;
}
.saas-pricing-title {
 color:#313856;
 font-size:18px;
 font-weight:700;
 line-height:1.1;
 margin-bottom:24px;
}
.saas-pricing-price {
 font-family:'Comfortaa';
 font-size:48px;
 font-weight:700;
 color:#f64e6e;
 line-height:1.1;
 margin-bottom:6px;
}
.saas-pricing-small-text {
 font-size:12px;
 color:#b7bbcd;
 line-height:1.1;
 margin-bottom:24px;
}
.saas-secondary-button:hover{
 color:#ffffff;
 background-color:#48c2fb;
}
.saas-secondary-button {
 font-family:'Open Sans';
 color:#48c2fb;
 font-size:16px;
 font-weight:400;
 text-decoration:none;
 line-height:1.1;
 letter-spacing:1px;
 background-color:transparent;
 border-radius:100px;
 border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-width:1px;
 border-right-width:1px;
 border-bottom-width:1px;
 border-left-width:1px;
 padding-top:15px;
 padding-bottom:15px;
 padding-left:47px;
 padding-right:47px;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
 border-top-color:#48c2fb;
 border-right-color:#48c2fb;
 border-bottom-color:#48c2fb;
 border-left-color:#48c2fb;
 text-transform:uppercase;
}
.saas-faq-column {
 text-align:left;
}
.saas-faq-column:not(.ct-section),
.saas-faq-column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
}
.saas-faq-title {
 color:#313856;
 font-size:18px;
 font-weight:700;
 margin-bottom:12px;
 line-height:1.1;
}
.saas-features-column-row {
 margin-bottom:48px;
}
.saas-features-img {
 border-radius:6px;
}
.saas-learn-video {
 overflow:hidden;
 border-radius:6px;
 border-top-style:none;
 border-right-style:none;
 border-bottom-style:none;
 border-left-style:none;
 margin-bottom:12px;
}
.saas-learn-title {
 font-family:'Comfortaa';
 color:#313856;
 font-size:18px;
 font-weight:700;
 text-align:left;
 line-height:1.1;
 width:100%;
 margin-bottom:6px;
}
.saas-home-icon-column {
 text-align:center;
}
.saas-home-icon-column:not(.ct-section),
.saas-home-icon-column.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
}
.saas-home-icon {
background-color: transparent;
border: 1px solid transparent;
padding: 48px;color: #ffffff;}.saas-home-icon 
>svg {width: 42px;height: 42px;}.saas-home-icon {
background-image:url(http://saas2.oxy.host/wp-content/uploads/sites/8/2017/10/Group@2x.png);background-size: cover; icon-padding:48px;
 background-repeat:no-repeat;
 margin-bottom:12px;
}
.saas-home-icon-title {
 font-family:'Comfortaa';
 line-height:1.3;
 font-size:18px;
 font-weight:700;
 color:#313856;
}
.saas-home-review-title {
 color:#313856;
 font-size:18px;
 font-weight:700;
 line-height:1.1;
 margin-left:20px;
 margin-right:20px;
}
.saas-home-review-image {
 opacity:0.2;
}
.saas-home-review-wrapper {
 width:100%;
 background-color:#ffffff;
 border-radius:6px;
 padding-top:24px;
 padding-bottom:24px;
 padding-left:24px;
 padding-right:24px;
 height:100%;
 box-shadow:0px 20px 40px 0px rgba(0,0,0,0.05);
z-index: 10;
}
.saas-home-user-wrapper {
 text-align:left;
 margin-bottom:12px;
}
.saas-home-user-wrapper:not(.ct-section),
.saas-home-user-wrapper.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:row;
align-items:center;
justify-content:flex-start;
}
.saas-home-review-avatar {
 width:48px;
 border-radius:100%;
 margin-right:12px;
}
.saas-home-review-stars {
 width:120px;
 margin-bottom:12px;
}
.saas-home-review-text {
 font-family:'Open Sans';
 color:#313856;
 font-size:14px;
 text-align:left;
 line-height:1.6;
 font-weight:400;
 font-style:italic;
}
.saas-home-column-row {
 margin-bottom:30px;
}
.saas-home-features-image {
 border-radius:6px;
}
